/* === General Styles === */

html,
* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}


/* === Text styles === */
h2, 
legend {
    font-weight: 700;
    color: #333;
    font-size: 1.5em;
    margin: 20px 0; 
}

label, 
p {
    font-weight: 200;
    color: #858585;
    font-size: 1rem;
    margin: 25px 0 15px;
}

label {
    display: block;
}

/* === Container and Display Styles === */

.tip-top {
    text-align: center; 
    color: white;
    background-color: #333;
    padding: 20px 0;
    font-weight: bold;
    font-size: 1.4em;
}

.top-container {
    text-align: center;
}

.main-container, 
.top-container {
    padding: 20px 30px;
}

#form1 {
    width: 100%;
}

hr {
    margin: 40px auto 20px;
}

.hr-1 {
    border-top: 5px double black;
}

.hr-2 {
    border-top: 2px solid black;
}

/* === Input, button, and Select Styles === */

input:not([type="radio"]):not([type="checkbox"]),
select,
textarea {
    background-color: #eee;
    border-radius: 5px;
    /* margin: 20px 15px; */
    padding: 20px 20px;
    width: 100%;
    border: none;
    font-size: 1.4rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    border: solid 2px navy;
    outline: none;
}

select {
    box-sizing: content-box;
    height: 68px;
    text-indent: 5px;
    font-weight: 100;
}

::placeholder {
    font-style: italic;
    text-align: right;
    font-weight: 100;
    font-size: 1rem;
}

button[type="submit"] {
    display: block;
    width: 100%;
    background-color: teal;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 20px 0;
}

/* === V specifics === */

button + p {
    text-align: center; 
    font-style: italic; 
    margin-top: 30px;
    margin-bottom: 200px;
}

h2 + p {
    margin-bottom: 50px;
}

.inliners {
    display: inline-block;
    margin-left: 15px;
}

.state-default {
    display: none;
}


/* === MEDIA QUERY === */
@media (min-width: 768px) {
    fieldset {
        width: 100%;
    }

    .top-container {
        width: 66.66%;
        text-align: center;
        margin: 0 auto;
    }

    .top-container p {
        margin-left: auto;
        margin-right: auto;
    }

    .main-container {
        width: 66.66%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-container p {
        display: flex;
        justify-content: space-between;
    }

    .main-container p.zip-graph {
        display: flex;
        justify-content: flex-start;
    }

    input#zip {
        flex: 0 1 auto;
        width: auto;
    }

    p label {
        flex: 0 0 33.333333%;
    }

    input:not([type="radio"]):not([type="checkbox"]) {
        flex: 0 0 66.6666666%;
    }

    textarea {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .copyright {
        display: flex;
    }

    .copyright p {
        margin-left: auto;
        margin-right: auto;
        font-style: italic;
        margin-bottom: 100px;
    }
} 